! comment
!xterm*vt100.faceName: mono:size=12:antialias=true
XTerm*termName: xterm-256color
XTerm*selectToClipboard: true
xterm*background: black
xterm*foreground: gray
xterm*allowBoldFonts: false
xterm*saveLines: 1000

Xft.dpi:  92
