Xft.dpi: 96
Xcursor.size: 16


! comment
!xterm*vt100.faceName: mono:size=12:antialias=true
XTerm*termName: xterm-256color
XTerm*selectToClipboard: true
xterm*allowBoldFonts: false
xterm*saveLines: 1000

xterm*foreground: grey
xterm*background: black 
